@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutSite.cshtml";
}

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div id="btnGroupDekker" class="btn-group" role="group" aria-label="dekker algorithms">
        <button id="dk1" type="button" class="btn btn-success">Dekker 1</button>
        <button id="dk2" type="button" class="btn btn-success">Dekker 2</button>
        <button id="dk3" type="button" class="btn btn-success">Dekker 3</button>
        <button id="dk4" type="button" class="btn btn-success">Dekker 4</button>
        <button id="dk5" type="button" class="btn btn-success">Dekker 5</button>
    </div>
    <div id="btnGroupPeterson" class="btn-group" role="group" aria-label="peterson algorithm">
        <button id="pt" type="button" class="btn btn-primary">Peterson's Algorithm</button>
    </div>
</div>